@model CloudDevelopment.Models.userTable
@{
    ViewData["Title"] = "Sign Up";
}

<h1>About</h1>
<p>you need to sign up in the website for the application.</p>

<body>
    <form action="About" method="post">
        <p>Sign Up</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Surname" placeholder="Surname" required>
        <input type="text" name="Email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>
</body>

