@using Microsoft.EntityFrameworkCore.Storage
@model CloudDevelopment.Models.productTable
@{
    ViewData["Title"] = "MyWork";

    
}

<h1>MyWork</h1>

<body>
    <form action="MyWork" method="post">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>

